.integration-container {
  background-color: var(--bg_gray);
  width: 100%;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding-top: 50px;
}

.toptitle {
  font-weight: 600 !important;
  color: var(--aqua_blue) !important;
  margin-bottom: 20px !important;
}

.title {
  font-weight: 700 !important;
  color: var(--dark_gray_text) !important;
  margin-bottom: 20px !important;
  line-height: 120% !important;
}

.subtitle {
  color: var(--gray_text_dark) !important;
  line-height: 150% !important;
}

@media (max-width: 1300px) {
  .integration-img-container {
    margin-top: 550px !important;
    align-items: center;
  }
  .integration-img {
    width: 100%;
    padding: 0px 20px;
  }
}

@media (max-width: 1150px) {
  .integration-img-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 880px) {
  .integration-full-container {
    position: initial !important;
  }
  .integration-relative-container {
    align-items: flex-start !important;
  }
  .integration-img-container {
    margin-top: 40px !important;
  }
}
