.whatwedo-container {
  background-color: var(--bg_gray);
  width: 100%;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.title {
  font-weight: 600 !important;
  color: var(--white) !important;
  margin-bottom: 20px !important;
}

.subtitle {
  font-weight: 300 !important;
  color: var(--white) !important;
}

@media (min-width: 0px) and (max-width: 999px) {
  .whatwedo-text {
    max-height: auto !important;
  }
}

/* @media (min-width: 301px) and (max-width: 999px) {
  .whatwedo-text {
    max-height: 380px !important;
  }
} */

@media (min-width: 1000px) and (max-width: 1279px) {
  .whatwedo-text {
    max-height: 320px !important;
  }
}

@media (min-width: 1280px) {
  .whatwedo-text {
    max-height: 280px !important;
  }
}