.whatwedo-container {
  background-color: var(--bg_gray);
  width: 100%;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.title {
  font-weight: 600 !important;
  color: var(--white) !important;
  margin-bottom: 20px !important;
}

.subtitle {
  font-weight: 300 !important;
  color: var(--white) !important;
}

@media (min-width: 751px) and (max-width: 770px) {
  .whatwedo-text {
    max-height: 360px !important;
  }
}

@media (min-width: 771px) and (max-width: 800px) {
  .whatwedo-text {
    max-height: 340px !important;
  }
}